version: 2
jobs:
  build:
    docker:
      - image: rocker/verse:4.2
    environment:
            _R_CHECK_FORCE_SUGGESTS_: false
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:NmGTNFTP80gF2q6kdREsW+9gOwMG3PPVq5GZxf7bmD8"
      - checkout
      - run:
          name: Install package dependencies
          command: |
            Rscript \
              -e 'if (!requireNamespace("devtools", quietly = TRUE)) install.packages("devtools")' \
              -e 'devtools::install_deps(dependencies = TRUE)'
      - run:
          name: Build package
          command: R CMD build .
      - run:
          name: Install package
          command: R CMD INSTALL *gz
      - run:
          name: Check package
          command: R CMD check --no-manual *tar.gz
      - store_test_results:
          path: tmp/tests
